<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjn.flow.mapper.FlwFormMapper">

    <resultMap id="FlwCategoryResult" type="com.wjn.flow.domain.dto.flow.FlwFormDO">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="status" column="status" />
        <result property="conf" column="conf" />
        <result property="fields" column="fields" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectFlwCategoryVo">
        select id, name, status, conf, fields, create_by, create_time, update_by, update_time, remark from flw_form
    </sql>

    <!--分页查询分类列表-->
    <select id="queryFormPage" parameterType="com.wjn.flow.domain.dto.flow.FlwCategoryDO" resultMap="FlwCategoryResult">
        <include refid="selectFlwCategoryVo"/>
        <where>
            <if test="status != null  and status != ''"> and status = #{status} </if>
            <if test="name != null  and name != ''"> and name like concat('%',#{name},'%') </if>
        </where>
        order by num asc, create_time desc
    </select>
</mapper>
